<!DOCTYPE HTML> 
<html lang="en" ng-app> 
<head>
<title>yolo-bear</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="js/vendor/angular-1.2.28.min.js"></script>
        <script src="js/vendor/peer-0.3.0.min.js"></script>
        <script src="js/vendor/moment-2.9.0.min.js"></script>
        <script src="js/YoloBearPeer.js"></script>

<script>
  
  $(document).ready(function() {
    // Show browser version
    $('#browsers').text(navigator.userAgent);
  });

</script>
</head> 
 
<body> 

<div ng-controller="YoloBearPeer">
<button ng-click="listPeers()">doit</button>
  Your PeerJS id is : {{id}}<br><br>
  Connect to peer: <input type="text" ng-model="rid" placeholder="Someone else's id">
                   <button ng-click="connectOut(rid); rid=''; ">Connect</button>
  <br><br>
  
  
  <div id="chat_area" ng-show="peers().length>0">
    <input type="text" ng-model="msg" placeholder="Enter message">
    <ul>
    <li ng-repeat="p in peers()">
	{{p}} &nbsp; {{peerList(p)}} &nbsp;
	<button ng-click="send(p);" ng-show="p!=id">Send</button>
	<span ng-show="p==id">(me)</span>
	<ul>
	<li ng-repeat="pm in peerMsgs(p)">{{pm.ts}}: {{pm.msg}}</li>
	</ul>
    </li>
    <li>
	{{id}} &nbsp; (me)
	<ul>
	<li ng-repeat="pm in peerMsgs(id)">{{pm.ts}}: {{pm.msg}}</li>
	</ul>
    </li>

    </ul>
  </div>
  
<br/>
  
  
  <br><br><br>
  <p style="font-size: 10px;">Your browser version: <span id="browsers"></span><br>
  Currently <strong>Google Chrome 26.0.1403.0 or above</strong> is required (Dev or Canary channels)</strong><br><br>For more up to date compatibility information see <a href="http://peerjs.com/status">PeerJS WebRTC Status</a><br><br>Note that this demo may also fail if you are behind stringent firewalls or both you and the remote peer and behind symmetric NATs.</p>
  
</body> 
</html> 

