<!DOCTYPE HTML> 
<html lang="en" ng-app> 
<head>
<title>yolo-bear</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="js/vendor/angular-1.2.28.min.js"></script>
        <script src="js/vendor/peer-0.3.0.min.js"></script>
        <script src="js/vendor/moment-2.9.0.min.js"></script>
        <script src="js/config.js"></script>
        <script src="js/common.js"></script>
        <script src="js/YoloBearPeer.js"></script>
        <script src="js/YoloBearPlayer.js"></script>
        <script src="js/YoloBearTeam.js"></script>
        <script src="js/YoloBearGame.js"></script>
        <script src="js/YoloBearTournament.js"></script>
        <script src="js/Controller1.js"></script>
        <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-3.3.2.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script src="js/vendor/bootstrap-3.3.2.min.js"></script>
        <script src="js/index.js"></script>

</head> 
 
<body class="container"> 

        <div class="row">
            <div class="muted pull-right">Yolo bear &nbsp; <img src="img/logo.png" alt="logo" width=40 height=40></div>
            <div hidden class="pull-left" id="backBtnDiv"><button class="btn" id="backBtn">Back</button></div>
            <div hidden class="pull-left" id="backBtn2Div"><button class="btn" id="backBtn2">Back</button></div>
            <div hidden class="pull-left" id="backBtn3Div"><button class="btn" id="backBtn3">Back</button></div>
        </div>

<div ng-controller="Controller1" id="Controller1">


<div id="tournamentDiv" hidden>
<div class="row">
<ul class="nav nav-pills nav-stacked">
  <li><a id="Chat" class="btn btn-lg btn-info">Connect</a></li>
  <li><a id="Teams" class="btn btn-lg">Teams<span class="badge">{{ybt.teams.length}}</span></a></li>
  <li><a id="Players" class="btn btn-lg">Players<span class="badge">{{ybt.players.length}}</span></a></li>
  <li><a id="Games" class="btn btn-lg btn-primary">Games<span class="badge">{{ybt.nGamesState('Done')}} / {{ybt.games.length}}</span></a></li>
</ul>
</div>
</div>


    <div ng-controller="YoloBearPeer">
<div class="jumbotron" id="decideFollowCreate">
<!--   <h3>With Yolo Bear you can create a tournament, manage it, and broadcast it to other people's devices, or you can sit back and watch a broadcast of an existing tournament.</h3>-->
   <a class="btn btn-lg btn-primary" id="decideFollowBtn">Follow</a> an existing tournament
   <br>
   <br>
   <a class="btn btn-lg btn-info" id="decideCreateBtn" ng-click="decideBroadcast()">Broadcast</a> a new tournament
   <span ng-show="!isUnconnectedToAnyone()">
   <br>
   <br>
   <a class="btn btn-lg btn-default" id="decideContinueBtn">Continue</a> the current tournament
   </span>
</div>

      <div id="onoff">
          <span ng-show="isUnconnectedToAnyone()"><img src="img/off.png" alt="Off" height=25 width=25></span>
          <span ng-show="!isUnconnectedToAnyone()&&whoIsAdmin()!=id&&!dataReceiving"><img src="img/on.png" alt="On" height=25 width=25></span>
          <span ng-show="!isUnconnectedToAnyone()&&whoIsAdmin()!=id&&dataReceiving"><img src="img/onf.png" alt="On" height=25 width=25></span>
          <span ng-show="!isUnconnectedToAnyone()&&whoIsAdmin()==id&&doingDataBroadcast"><img src="img/micro_on.png" alt="Broadcasting" height=25 width=25></span>
          <span ng-show="!isUnconnectedToAnyone()&&whoIsAdmin()==id&&!doingDataBroadcast"><img src="img/micro_off.png" alt="Admin" height=25 width=25></span>
      </div>

      <div id="ybpConnectDiv" hidden>
<!--      Admin is {{whoIsAdmin()}}, {{whoIsAdmin2()}}<br><br>
      <div>Your id: {{id}}</div>
      <div ng-show="!isUnconnectedToAnyone()"><button id="ybpConnectContinueBtn">Continue</button> existing tournament</div>-->
      Connect to peer: <input type="text" ng-model="rid" placeholder="Someone else's id">
                       <button ng-click="connectOut(rid); rid=''; " id="ybpConnectConnectBtn">Connect</button>


      <div id="chat_area"><!-- ng-show="peers().length>0"> -->
<!--        <input type="text" ng-model="msg" placeholder="Enter message">-->
        <ul>
        <li>
    	{{id}}
        <span ng-show="id==whoIsAdmin()" >* </span>
        <span ng-show="id==whoIsAdmin2()">**</span>
        &nbsp; (me)
        <button ng-click="copyToClipboard(id)">Copy</button>
    	<ul>
    	  <li ng-repeat="pm in peerMsgs(id)">{{pm.ts}}: {{pm.msg}}</li>
    	</ul>
        </li>
        <li ng-repeat="p in peers()">
    	  {{p}}
          <span ng-show="p==whoIsAdmin()" >* </span>
          <span ng-show="p==whoIsAdmin2()">**</span>
          &nbsp; {{peerList(p)}} &nbsp;
<!--    	  <button ng-click="send(p)" ng-disabled="!alive[p]">Send</button>-->
    	  <button ng-click="assignAdmin1(p)" ng-disabled="id!=whoIsAdmin() || !alive[p]" ng-show="iAmAdmin()">&gt; A1</button>
    	  <button ng-click="assignAdmin2(p)" ng-disabled="id!=whoIsAdmin() || p==whoIsAdmin2() || !alive[p]" ng-show="iAmAdmin()">&gt; A2</button>
    	  <ul>
    	  <li ng-repeat="pm in peerMsgs(p)">{{pm.ts}}: {{pm.msg}}</li>
    	  </ul>
        </li>
        </ul>
      </div>

      </div>
      

     </div><!-- end YoloBearPeer-->


    <div id="TeamsDiv" hidden>
        <div ng-show="iAmAdmin()">
            <input type='text' ng-model="newTeam.name" placeholder="New team name" required><button ng-click="addTeam()" ng-disabled="!newTeam.name">Add</button>
        </div>
        <div ng-show="ybt.teams.length==0">None</div>
        <table ng-show="ybt.teams.length>0" class="table">
        <thead><tr><th>Team</th><th>Won</th><th>Lost</th><th>Tie</th><th ng-repeat="sn in ybt.statNames">{{sn}}</th><th>Players</th><th></th></tr></thead>
        <tbody>
            <tr ng-repeat="te in ybt.teams">
              <td>{{te.name}}</td>
              <td>{{te.gamesWon()}}</td>
              <td>{{te.gamesLost()}}</td>
              <td>{{te.gamesTied()}}</td>
              <td ng-repeat="sn in ybt.statNames">
                 {{te.gamesStat(sn)}}
              </td>
              <td>{{te.playersNames()}}</td>
              <td><button ng-show="iAmAdmin()" ng-click="delTeam(te.id)" class="btn btn-danger">Del</button></td>
            </tr>
        </tbody>
        </table>

    </div>
    
    <div id="PlayersDiv" hidden>
        <div ng-show="iAmAdmin()">
            <input type='text' ng-model="newPlayer.name" placeholder="New player name" required>
            <select ng-model="newPlayer.team" ng-options="te.id as te.name for te in ybt.teams" required>
              <option value="" disabled selected>Team</option>
            </select>
            <button ng-click="addPlayer()" ng-disabled="!newPlayer.name||!ybt.teamIdExists(newPlayer.team)">Add</button>
        </div>

        Players<br>
        <span ng-show="ybt.players.length==0">None</span>
        <table ng-show="ybt.players.length>0" class="table">
        <thead><tr><th>Team</th><th>Player</th><th ng-repeat="sn in ybt.statNames">{{sn}}</th><th></th></tr></thead>
        <tbody>
            <tr ng-repeat="pl in ybt.players">
              <td>{{pl.team().name}}</td>
              <td>{{pl.name}}</td>
              <td ng-repeat="sn in ybt.statNames">
                 {{pl.gamesStat(sn)}}
              </td>
              <td><button ng-show="iAmAdmin()" ng-click="delPlayer(pl.id)" class="btn btn-danger">Del</button></td>
            </tr>
        </tbody>
        </table>

    </div>
    
    <div id="GamesStateDiv" hidden>
        <div ng-show="iAmAdmin()">
            New game<br>
            <select size=5 ng-model="newGame.team1" ng-options="te.id as te.name for te in ybt.teams"></select>
            <select size=5 ng-model="newGame.team2" ng-options="te.id as te.name for te in ybt.teams"></select><br>
            <button ng-click="addGame()" ng-disabled="newGame.team1==newGame.team2||!ybt.teamIdExists(newGame.team1)||!ybt.teamIdExists(newGame.team2)">Add</button>
        </div>

        <div class="row">
        <ul class="nav nav-pills nav-stacked">
          <li><a id="GamesDone" class="btn btn-lg btn-primary" ng-click="showGamesState='Done'">Done<span class="badge">{{ybt.nGamesState('Done')}}</span></a></li>
          <li><a id="GamesPlaying" class="btn btn-lg btn-success" ng-click="showGamesState='Playing'">Playing<span class="badge">{{ybt.nGamesState('Playing')}}</span></a></li>
          <li><a id="GamesWaiting" class="btn btn-lg btn-warning" ng-click="showGamesState='Waiting'">Waiting<span class="badge">{{ybt.nGamesState('Waiting')}}</span></a></li>
        </ul>
        </div>
    </div>

    <div id="GamesDiv" hidden>
        Games<br>
        <div ng-show="ybt.gamesByState(showGamesState).length==0">{{showGamesState}}: None</div>
        <div ng-repeat="ga in ybt.gamesByState(showGamesState)">
        {{ga.team1().name}} ({{ga.teamStat(ga.team1().id,'Score')}})
        x
        {{ga.team2().name}} ({{ga.teamStat(ga.team2().id,'Score')}})
        <select ng-model="ga.state" ng-disabled="!iAmAdmin()" ng-change="requestDataBroadcast()">
            <option value="Waiting">Waiting</option>
            <option value="Playing">Playing</option>
            <option value="Done">Done</option>
        </select>
        <button ng-show="iAmAdmin()" ng-click="delGame(ga.id)" class="btn btn-danger">Del</button>
        <table class="table" ng-show="showGamesState!='Waiting'">
        <thead><tr><th>Team</th><th>Player</th><th ng-repeat="sn in ybt.statNames">{{sn}}</th></tr></thead>
        <tbody>
            <tr ng-repeat="gps in ga.playerStats()">
              <td>{{gps.playerTeam.name}}</td>
              <td>{{gps.playerName}}</td>
              <td ng-repeat="sn in ybt.statNames">
                 {{gps[sn]}}
                 <span ng-show="ga.state=='Playing'">
                   <button ng-show="iAmAdmin()" ng-click="setGamePlayerScore(ga,gps.playerId,sn,gps[sn]+1)">+</button>
                   <button ng-show="iAmAdmin()" ng-click="setGamePlayerScore(ga,gps.playerId,sn,gps[sn]-1)">-</button>
                 </span>
              </td>
            </tr>
        </tbody>
        </table>
        </div>

    </div> <!-- end Games div -->

   
</div> <!-- end Controller1 -->

<div hidden>  
  <br><br><br>
  <p style="font-size: 10px;">Your browser version: <span id="browsers"></span><br>
  Currently <strong>Google Chrome 26.0.1403.0 or above</strong> is required (Dev or Canary channels)</strong><br><br>For more up to date compatibility information see <a href="http://peerjs.com/status">PeerJS WebRTC Status</a><br><br>Note that this demo may also fail if you are behind stringent firewalls or both you and the remote peer and behind symmetric NATs.</p>
</div>

</body> 
</html> 

